<div class="bg-red-700 p-2 items-center ">
  
  <div
    class="space-y-9 grid grid-cols-1 md:grid-cols-2 md:pl-24 md:pr-16 lg:grid-cols-4 lg:px-7 xl:px-14 xl:ml-16"
  >
    <div class="text-white font-[650] text-[16px] leading-7">
      <div class="flex justify-start md:mt-10">
        <h1
          class="text-white pb-[36px] font-sans uppercase font-normal tracking-wider underline underline-offset-[12px] decoration-red-500/90"
        >
          Information
        </h1>
      </div>
      <p>Blood Bank</p>
      <p>Laboratory</p>
      <p>Institute</p>
    </div>
    <div
      class="text-white text-[15px] font-[550] leading-7 tracking-wide md:"
    >
      <div>
        <h1
            class="text-white pb-[34px] font-sans uppercase font-normal tracking-wider underline underline-offset-[12px] decoration-red-500/90"
          >
            PAGES
          </h1> 
      </div>
      <p>Infrastructure</p>
      <p>Success Stories</p>
      <p>News</p>
      <p>Support Us</p>
    </div>
    <div class="md:flex flex-col justify-between">
      <div
        class="text-white text-[15px] font-[550] leading-7 tracking-wide"
      >
        <div class="flex justify-start">
          <h1
            class="text-white pb-[34px] font-sans uppercase font-normal tracking-wider underline underline-offset-[12px] decoration-red-500/90"
          >
            HEALTH
          </h1>
        </div>
        <p class="">Health Net</p>
        <p class="">Health Smart</p>
        <p class="">View More</p>
        <p class="">Medical Records</p>
      </div>
    </div>
    <div
      class="text-[#797878] text-[15px] font-[550] leading-6 tracking-wide md:order-4 lg:"
    >
      <div class="flex justify-start">
        <h1
          class="text-white pb-[38px] font-sans uppercase font-normal tracking-wider underline underline-offset-[12px] decoration-red-500/90"
        >
          get in touch
        </h1>
      </div>
      <p class="space-x-3">
        <i class="fa fa-home text-[17px] text-white"></i
        ><strong class="text-white text-[15px] tracking-wide"
          >Our Company</strong
        >
      </p>
      <div class="leading-7">
        <p class="text-white">
          404/5, 4th Flr.Dunolly Road, <br />
          Karachi, Sindh (Pakistan) <br />
          General Helpline No:+91 911-1111-123
        </p>
      </div>
      <div class="leading-7 mt-2 text-[15px] font-[500]">
        <p class="space-x-3" >
          <i class="fa fa-envelope text-[16px] text-white"></i>
          <a href="#"> admin@Company.in</a>
        </p>
      </div>
    </div>
  </div>
  <div
    class="divide-y divide-[#747474] contrast-200 mt-3 mb-3 md:-mt-4 md:-mb-2 lg:-mt-16 xl:-mt-24"
  >
    <p>&nbsp;</p>
    <p>&nbsp;</p>
  </div>
  <div
    class="flex justify-center mb-4 md:mb-1 text-red-700 text-center text-xl space-x-3"
  >
    <p>
      <a
        href="#"
        class="w-10 h-10 bg-white transform ease-in-out duration-500  rounded-full inline-block pt-[7px]"
        ><i class="fa fa-facebook text-red-700"></i
      ></a>
    </p>
    <p>
      <a
        href="#"
        class="w-10 h-10 bg-white  transform ease-in-out duration-500 rounded-full inline-block pt-[6px]"
        ><i class="fa fa-twitter text-red-700"></i
      ></a>
    </p>
    <p>
      <a
        href="#"
        class="w-10 h-10 bg-white  transform ease-in-out duration-500 rounded-full inline-block pt-[6px]"
        ><i class="fa fa-instagram text-red-700"></i
      ></a>
    </p>
    <p>
      <a
        href="#"
        class="w-10 h-10 bg-white  transform ease-in-out duration-500 rounded-full inline-block pt-[6px]"
        ><i class="fa fa-linkedin text-red-700"></i
      ></a>
    </p>

  </div>
</div>
