<section class="mx-auto my-10 bg-white px-5 md:my-20">
  <div class="flex flex-col">
    <h2 class="text-5xl font-bold tracking-tight">FAQ</h2>
    <p class="text-xl">Frequenty asked questions</p>
  </div>
  <div class="mx-auto mt-8 grid divide-y divide-neutral-200">
    <div class="py-3">
      <details class="group">
        <summary
          class="flex cursor-pointer list-none items-center justify-between font-medium"
        >
          <span class="md:text-xl">Who can donate blood?</span>
          <span class="transition group-open:rotate-180">
            <svg
              fill="none"
              height="24"
              shape-rendering="geometricPrecision"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="1.5"
              viewBox="0 0 24 24"
              width="24"
            >
              <path d="M6 9l6 6 6-6"></path>
            </svg>
          </span>
        </summary>
        <p class="group-open:animate-fadeIn mt-2">
          Most healthy adults between the ages of 18 and 65 can donate blood.
          However, certain conditions and medications may affect eligibility.
          Check with your local blood donation center for specific requirements.
        </p>
      </details>
    </div>
    <div class="py-3">
      <details class="group">
        <summary
          class="flex cursor-pointer list-none items-center justify-between font-medium"
        >
          <span class="md:text-xl"> How often can I donate blood?</span>
          <span class="transition group-open:rotate-180">
            <svg
              fill="none"
              height="24"
              shape-rendering="geometricPrecision"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="1.5"
              viewBox="0 0 24 24"
              width="24"
            >
              <path d="M6 9l6 6 6-6"></path>
            </svg>
          </span>
        </summary>
        <p class="group-open:animate-fadeIn mt-2">
          In general, you can donate whole blood every 56 days (8 weeks).
          However, the frequency may vary depending on the type of donation and
          your health status. Plasma and platelet donors may be able to donate
          more frequently.
        </p>
      </details>
    </div>
    <div class="py-3">
      <details class="group">
        <summary
          class="flex cursor-pointer list-none items-center justify-between font-medium"
        >
          <span class="md:text-xl">
            Can I donate blood if I have a medical condition?</span
          >
          <span class="transition group-open:rotate-180">
            <svg
              fill="none"
              height="24"
              shape-rendering="geometricPrecision"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="1.5"
              viewBox="0 0 24 24"
              width="24"
            >
              <path d="M6 9l6 6 6-6"></path>
            </svg>
          </span>
        </summary>
        <p class="group-open:animate-fadeIn mt-2">
          It depends on the condition. Certain medical conditions may disqualify
          you from donating blood, while others may not. Be sure to inform the
          staff at the blood donation center about any medical conditions you
          have.
        </p>
      </details>
    </div>
    <div class="py-3">
      <details class="group">
        <summary
          class="flex cursor-pointer list-none items-center justify-between font-medium"
        >
          <span class="md:text-xl">
            Can I donate blood if I recently traveled to another country?</span
          >
          <span class="transition group-open:rotate-180">
            <svg
              fill="none"
              height="24"
              shape-rendering="geometricPrecision"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="1.5"
              viewBox="0 0 24 24"
              width="24"
            >
              <path d="M6 9l6 6 6-6"></path>
            </svg>
          </span>
        </summary>
        <p class="group-open:animate-fadeIn mt-2">
          Travel to certain countries with a high risk of infectious diseases
          may affect your eligibility to donate blood. Check with your local
          blood donation center for guidance based on your travel history.
        </p>
      </details>
    </div>
    <div class="py-3">
      <details class="group">
        <summary
          class="flex cursor-pointer list-none items-center justify-between font-medium"
        >
          <span class="md:text-xl">
            How long does the blood donation process take?</span
          >
          <span class="transition group-open:rotate-180">
            <svg
              fill="none"
              height="24"
              shape-rendering="geometricPrecision"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="1.5"
              viewBox="0 0 24 24"
              width="24"
            >
              <path d="M6 9l6 6 6-6"></path>
            </svg>
          </span>
        </summary>
        <p class="group-open:animate-fadeIn mt-2">
          The entire process, including registration, medical history screening,
          donation, and refreshments afterward, usually takes about 45 minutes
          to an hour.
        </p>
      </details>
    </div>
  </div>
</section>
