<div class="row" *ngIf="member">
    <div class="col-4">
        <div class="card">
            <img src="{{member.photoUrl || './assets/user.png'}}" alt="{{member.userName}}"
                class="card-img-top img-thumbnail">
            <div class="card-body">
                <div>
                    <strong>Location : </strong>
                    <p>{{member.city}}, {{member.country}}</p>
                </div>

                <div>
                    <strong>Age : </strong>
                    <p>{{member.age}}</p>
                </div>

                <div>
                    <strong>Blood Group : </strong>
                    <p>{{member.bloodGroup}}</p>
                </div>

                <div>
                    <strong>Last Active : </strong>
                    <p>{{member.lastActive | timeago}}</p>
                </div>

                <div>
                    <strong>Member Since </strong>
                    <p>{{member.created | date:'dd MMM yyyy'}}</p>
                </div>
            </div>

            <div class="card-footer">
                <div class="btn-grou d-flex">
                    <button class="btn btn-primary mx-2">Request For blood</button>
                    <button class="btn btn-success">Messages</button>
                </div>
            </div>
        </div>
    </div>

    <div class="col-8">
        <tabset class="member-tabs">
            <tab heading="About {{member.userName}}">
                <h4>Description</h4>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illo corrupti a laborum, ipsa eos natus nihil aliquam vel fuga nisi at animi consequuntur perferendis laudantium voluptatum deserunt aperiam, aut suscipit.</p>
            </tab>
            <tab heading="Message">
                Message will go here
            </tab>
        </tabset>
    </div>
</div>