<div
  class="flex flex-col items-center justify-around text-nowrap bg-red-700 p-2 text-center text-white lg:flex-row"
>
  <div class="flex flex-col items-center gap-3 md:flex-row">
    <div><i class="fa fa-map-marker m-2"></i>CLIFTON ,KARACHI</div>
    <div><i class="fa fa-phone m-2"></i>+92 22-113-444-300</div>
    <div class="flex flex-row gap-2 text-lg">
      <i class="fa fa-facebook m-2"></i>
      <i class="fa fa-instagram m-2"></i>
      <i class="fa fa-youtube m-2"></i>
      <i class="fa fa-twitter m-2"></i>
      <i class="fa fa-envelope m-2"></i>
    </div>
  </div>

  <div class="justify around flex items-center gap-4 text-center">
    <div>Patient Complaint & Suggestions</div>
    <div [routerLink]="['/login']" class="cursor-pointer">Log in</div>
  </div>
</div>
