<div
  class="flex flex-col items-center justify-center bg-red-700 text-center"
  id="review"
>
  <div class="bg-transparent text-xl font-medium text-white">
    <i
      class="fa-solid fa-truck-droplet fa-3x mt-4 text-center text-4xl text-white lg:text-6xl"
    ></i>
  </div>
  <div
    class="my-10 flex flex-col justify-center space-y-8 lg:space-x-10 lg:space-y-10"
  >
    <div
      class="flex flex-col items-center justify-center space-y-8 lg:flex-row lg:space-y-0"
    >
      <div
        class="flex flex-col items-center justify-center bg-white pt-4 shadow-lg md:w-[80%] lg:w-[80%]"
      >
        <div
          class="custom-bg-7 h-16 w-16 rounded-full bg-cover md:h-24 md:w-24"
        ></div>

        <p
          class="mt-4 w-5/6 overflow-hidden px-3 text-justify text-xl sm:text-center md:mt-8 md:w-11/12 md:text-lg lg:text-xl"
        >
          Our Blood Bank supports our Transfusion Services Division by providing
          blood and its components to 600 Thalassemia and Haemophilia patients,
          amount to 15,000 units of blood annually. This is enabled by the
          donations of our volunteer blood donors.
        </p>

        <div class="my-4 flex flex-col gap-2 text-center">
          <button
            class="border-2 border-red-700 px-4 py-2 font-sans text-2xl font-bold tracking-wide text-red-700 md:text-xl lg:text-2xl"
          >
            Leran More
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
