<section class="body-font text-gray-600">
  <div class="container mx-auto px-5 py-24">
    <div class="mb-20 flex w-full flex-col text-center">
      <h1 class="mb-4 text-2xl font-bold text-red-700 sm:text-3xl">
        Blood Donation Procedure
      </h1>
      <p class="mx-auto text-xl leading-relaxed lg:w-2/3">
        Take a look at our Blood Donation Procedure
      </p>
    </div>
    <div class="flex flex-wrap items-center justify-center text-center">
      <div
        class="flex flex-col gap-3 border-l-2 border-gray-200 border-opacity-60 px-8 py-6 md:w-full lg:w-1/2 xl:w-1/4"
      >
        <i class="fa-solid fa-file-export text-xl text-red-700 md:text-4xl"></i>
        <h2 class="title-font mb-2 text-lg font-medium text-red-700 sm:text-xl">
          Registration
        </h2>
        <p class="mb-4 text-base font-thin leading-relaxed">
          Fill out the form which helps us assess your eligibility and donation
          history.
        </p>
      </div>
      <div
        class="flex flex-col gap-3 border-l-2 border-gray-200 border-opacity-60 px-8 py-6 md:w-full lg:w-1/2 xl:w-1/4"
      >
        <i
          class="fa-solid fa-notes-medical text-xl text-red-700 md:text-4xl"
        ></i>
        <h2 class="title-font mb-2 text-lg font-medium text-red-700 sm:text-xl">
          Health Evaluation
        </h2>
        <p class="mb-4 text-base font-thin leading-relaxed">
          Your eligibility will be tested based on the results of a general
          medical checkup conducted on location.
        </p>
      </div>
      <div
        class="flex flex-col gap-3 border-l-2 border-gray-200 border-opacity-60 px-8 py-6 md:w-full lg:w-1/2 xl:w-1/4"
      >
        <i class="fa-solid fa-droplet text-xl text-red-700 md:text-4xl"></i>
        <h2 class="title-font mb-2 text-lg font-medium text-red-700 sm:text-xl">
          Blood Donation
        </h2>
        <p class="mb-4 text-base font-thin leading-relaxed">
          Blood donation will take about 8-10 minutes in a comfortable space to
          lie down.
        </p>
      </div>
      <div
        class="flex flex-col gap-3 border-l-2 border-gray-200 border-opacity-60 px-8 py-6 md:w-full lg:w-1/2 xl:w-1/4"
      >
        <i class="fa-solid fa-apple-whole text-xl text-red-700 md:text-4xl"></i>
        <h2 class="title-font mb-2 text-lg font-medium text-red-700 sm:text-xl">
          Refreshment
        </h2>
        <p class="mb-4 text-base font-thin leading-relaxed">
          After the donation of completion, you receive refreshments to bolster
          your energy.
        </p>
      </div>
    </div>
  </div>
</section>
